/* style.css */

:root {
    --headind-width: 70%;
    --second-color: #dbaf96;
    --wedding-section-width: 460px
}

/* Сброс */
*,
*::before,
*::after {
    box-sizing: border-box;
    margin: 0;
    padding: 0;
}

body {
    background-color: #f8f8f8;
    font-family: 'Cormorant', serif;
    color: #454545;
    text-transform: uppercase;
    font-weight: 300;
    line-height: 1.2;
}

.gold {
    color: var(--second-color);
    font-weight: 500;
    text-decoration: underline;

}

/* Общие отступы для секций */
section {
    padding: 0 15px;
    margin-bottom: 100px;
}

.block {
    opacity: 0;
    transform: translateY(80px);
    transition: transform 1s, opacity 0.5s;
}

.block._visible {
    opacity: 1;
    transform: translateY(0);
}

/* ============================
   Блок Invitation
   ============================ */
.invitation {
    text-align: center;
}

.invitation__title {
    margin-top: 50px;
    font-size: 80px;
    line-height: 96px;
}

.invitation__subtitle {
    margin-bottom: 50px;
    font-size: 30px;
    color: var(--second-color);
    font-weight: 300;
}

.invitation__date {
    font-size: 40px;
    color: #454545;
    margin-bottom: 20px;
    font-weight: 300;
}

.invitation__title--large {
    font-size: 80px;
    font-weight: 300;
}

/* ============================
   Hero image
   ============================ */
.hero-image {
    display: block;
    width: 100%;
    margin-bottom: 50px;
}

/* ============================
   Блок Wedding
   ============================ */
.wedding {
    text-align: center;
}

.wedding__heading {
    font-size: 60px;
    margin-bottom: 50px;
    font-weight: 300;
}

.wedding__heading_name {
    width: var(--wedding-section-width);

    text-transform: none;
    font-size: 30px;
    font-weight: 300;
    margin: 0 auto 50px auto;
}

.wedding__text {
    font-size: 20px;
    text-transform: none;
    width: var(--wedding-section-width);
    margin: 0 auto 30px;
    text-align: start;
}

.wedding__text:first-of-type {
    margin-bottom: 20px;
}

.wedding__date-line {
    display: flex;
    flex-direction: column;
    align-items: center;
    width: 100%;
}

.wedding__line {
    width: var(--wedding-section-width);
    height: 1px;
    background-color: var(--second-color);
    opacity: .6;
}

.wedding__date {
    font-size: 50px;
    text-transform: none;
    color: var(--second-color);
}

.wedding__date--highlight {
    margin: 10px 0;
    font-weight: 300;
}

/* ============================
   Блок Guests
   ============================ */
.guests__heading {
    font-size: 40px;
    width: var(--headind-width);
    margin-bottom: 50px;
    text-align: start;
    font-weight: 300;
}

.guests__columns {
    display: flex;
    justify-content: space-between;
}

.guests__column {
    margin-right: 20px;
    padding: 5px;
}

.guests__item {
    font-size: 20px;
    margin-bottom: 15px;
    text-transform: none;
}

/* ============================
   Блок Program
   ============================ */
.program__heading {
    font-size: 40px;
    width: var(--headind-width);
    margin-bottom: 80px;
    text-align: start;
    font-weight: 300;

}

.program-card {
    display: flex;
    margin-bottom: 70px;
}

.program-card__image-wrapper {
    margin-right: 30px;
}

.program-card__image {
    display: block;
    width: 300px;
}

.program-card__content {
    flex: 1;
    font-weight: 300;
}

.program-card__title {
    font-size: 30px;
    text-transform: uppercase;
    margin-bottom: 10px;
    font-weight: 300;
}

.program-card__info {
    list-style: none;
    font-weight: 300;
}

.program-card__info-item {
    display: flex;
    font-weight: 300;
    height: 80px;
    border-top: 1px solid var(--second-color);
    align-items: center;
}

.program-card__info-item:last-child {
    border-bottom: 1px solid var(--second-color);
}

.program-card__info-item h4 {
    width: 40%;
    font-size: 24px;
    text-transform: none;
    font-weight: 300;
}

.program-card__info-item h4:last-child {
    width: 60%;
}

/* ============================
   Блок Colors
   ============================ */
.colors__heading, .timer__heading, .history__heading {
    font-size: 40px;
    width: var(--headind-width);
    margin-bottom: 30px;
    text-align: start;
    font-weight: 300;
}

.colors__heading__text {
    text-transform: none;
    font-weight: 300;
    margin-bottom: 50px;
}

.history__heading__text {
    text-transform: none;
    font-weight: 300;
    margin-bottom: 10px;
}

.colors__list {
    display: flex;
    justify-content: space-between;
}

.colors__item__up, .colors__item__down {
    width: 140px;
    height: 110px;
    opacity: .6;
}

.colors__item__up {
    border-radius: 140px 140px 0 0;
}

.colors__item__down {
    border-radius: 0 0 140px 140px;
}


/* ============================
   Блок contact
   ============================ */

.contact_info {
    display: flex;
    justify-content: space-between;
}

.contact_info__image-wrapper {
    width: 45%;
}

.contact_info__image {
    width: 100%;
    padding: 15px;
    border: 1px solid var(--second-color);
}

.contact_info__content {
    width: 45%;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
}

.contact_info__content_image {
    width: 30%;
}

.contact_info__title, .contact_info__number {
    font-size: 30px;
    font-weight: 300;
    text-transform: uppercase;
    margin-bottom: 30px;
}

.contact_info__number {
    text-transform: none;
}

.contact_info_text {
    font-size: 20px;
    text-transform: none;
}

.contact_info_text:not(:last-child) {
    margin-bottom: 10px;
}

/* ============================
   Блок timer
   ============================ */

.timer__items {
    display: flex;
    font-size: 80px;
}
.timer__item {
    font-size: 100px;
    position: relative;
    min-width: 60px;
    margin-left: 10px;
    margin-right: 10px;
    padding-bottom: 15px;
    text-align: center;
}
.timer__item::before {
    content: attr(data-title);
    display: block;
    position: absolute;
    left: 50%;
    bottom: 0;
    transform: translateX(-50%);
    font-size: 14px;
}
.timer__item:not(:last-child)::after {
    content: ':';
    position: absolute;
    right: -15px;
}

.carousel-control-next-icon, .carousel-control-prev-icon {
    width: 100px!important;
    height: 100px!important;
}


@media (min-width: 1200px) {
    section {
        padding: 0 calc(50% - 590px);
    }
}

@media (max-width: 599px) {
    :root {
        --wedding-section-width: 300px;
        --headind-width: 100%;
    }

    section {
        padding: 0 10px;
        margin-bottom: 40px;
    }

    .invitation {
        margin-bottom: 25px;
    }

    .invitation__title {
        margin-top: 20px;
        line-height: 50px;
    }

    .invitation__title--large {
        font-size: 30px;
    }

    .invitation__subtitle {
        font-size: 20px;
        margin-bottom: 25px;
    }

    .invitation__date {
        font-size: 20px;
    }

    .hero-image {
        height: auto;
    }

    .wedding {
        margin-bottom: 40px;
    }

    .wedding__heading {
        font-size: 30px;
        margin-bottom: 25px;
    }

    .wedding__heading_name {
        font-size: 20px;
        margin: 0 auto 25px auto;
    }

    .wedding__text {
        font-size: 15px;
    }

    .wedding__date {
        font-size: 20px;
    }

    .guests {
        margin-bottom: 40px;
    }

    .guests__heading, .timer__heading, .program__heading, .colors__heading, .contact_info__title {
        font-size: 25px;
        padding: 0;
        margin-bottom: 15px;
    }

    .guests__column {
        margin-right: 5px;
    }

    .guests__item {
        margin-bottom: 10px;
        font-size: 15px;
    }

    .timer__items {
        font-size: 20px;
        justify-content: space-between;
    }

    .timer__item {
        font-size: 40px;
    }

    .program-card {
        flex-direction: column;
        margin-bottom: 40px;
    }

    .program-card__image-wrapper {
        margin: 0 0 10px 0;
        width: 100%;
    }

    .program-card__image {
        width: 100%;
    }

    .program-card__title {
        font-size: 20px;
    }

    .program-card__info-item {
        height: 60px;
    }

    .program-card__info-item h4 {
        font-size: 19px;
        width: 35%;
    }

    .colors__heading__text {
        font-size: 20px;
        margin-bottom: 40px;
    }

    .history__heading__text {
        font-size: 20px;
        margin-bottom: 7px;
    }

    .colors__item__up, .colors__item__down {
        width: 50px;
        height: 40px;
    }

    .contact_info {
        flex-direction: column;
    }

    .contact_info__image-wrapper {
        margin: 0 0 10px 0;
        width: 100%;
    }

    .contact_info__content {
        width: 100%;
    }

    .contact_info__image {
        width: 100%;
    }

    .contact_info__title {
        width: 100%;
    }

    .contact_info_text {
        font-size: 20px;
    }

    .contact_info__content_image {
        width: 20%;
    }

    .contact_info__number {
        font-size: 20px;
    }
}

@media (min-width: 600px) and (max-width: 1023px) {
}

@media (min-width: 1024px) {
}

/* Адаптация карусели */
@media (max-width: 768px) {
    .carousel-item img {
        max-height: 300px;
    }

    .carousel-caption {
        padding: 10px;
    }

    .carousel-caption h3 {
        font-size: 1.2rem;
    }

    .carousel-caption p {
        font-size: 0.9rem;
    }
}